.navbar li {
  display: inline-block;
  text-align: center;
}

.itemLeft {
  width: 30%;
}

.itemCenter {
	width: 40%;
}

.itemRight {
  width: 30%;
}

.navbar {
  background: darkmagenta;
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 24px;
}