.header{
	background-color: hotpink;
	position: relative;
	width: 100%;
}

h1{
	color: white;
	text-align: center;
	font-size: 70px;
	font-weight: bold;
	margin: 0;
	padding: 40px; 
}

h2{
	text-align: center;
	font-size: 25px;
	margin: 0;
	padding-bottom: 20px;
}